WhatsAppServices/whatsapp-bridge/store/messages.db
WhatsAppServices/whatsapp-bridge/store/whatsapp.db
WhatsAppServices/whatsapp-bridge/store/messages.db
WhatsAppServices/whatsapp-bridge/store/whatsapp.db
